

:root{
  --background-gradient: crimson;
}


.App {
  text-align: center;
}
html{
  height:100%;
  scroll-behavior: smooth;

}
::-moz-selection {    background-color: var(--background-gradient);
  color: white;
}
::selection {
  background-color: var(--background-gradient);
  color: white;
}

body{

  /* background: linear-gradient(308deg, rgba(255,255,255,1) 37%, rgba(0,153,144,1) 37%); */
  /* background: linear-gradient(45deg, orangeRed 50%, black 50%); */
  height: 100%;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
  background-color: orangeRed;
/* background-image: -webkit-linear-gradient( 45deg, orangeRed 50%, black 50%); */
/* background-image: linear-gradient( 30deg, crimson 50%, black 50%); */
background-image: linear-gradient( 35deg, var(--background-gradient) 50%, black 50%);
/* rgb(104,110,252) */

}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}




/* HOMEPAGE PROGRESS BAR STYLING */

.container {
  margin: 100px auto;
  width: 500px;
  text-align: center;
}

.progress {
  /* padding: 6px; */
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar3 {
  height: 6px;
  border-radius: 2px;
  background-image:
     linear-gradient(to right,
       #4cd964, #5ac8fa, #007aff,
       #7DC8E8, #5856d6, #ff2d55);
  transition: 0.5s linear;
  transition-property: width, background-color;
}

.progress-infinite .progress-bar3 {
  width: 100%;
  background-image:
  linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #7DC8E8, #5856d6,#ff2d55);
  animation: colorAnimation 0.5s infinite;
}

@keyframes colorAnimation {
  0% {
    background-image:
    linear-gradient(to right, #4cd964, #5ac8fa,#007aff, #7DC8E8, #5856d6, #ff2d55);
  }
  20% {
    background-image:
    linear-gradient(to right, #5ac8fa, #007aff, #7DC8E8, #5856d6, #ff2d55, #4cd964);
  }
  40% {
    background-image:
    linear-gradient(to right, #007aff, #7DC8E8, #5856d6, #ff2d55, #4cd964, #5ac8fa);
  }
  60% {
    background-image:
    linear-gradient(to right, #7DC8E8, #5856d6, #ff2d55, #4cd964, #5ac8fa, #007aff);
  }
  100% {
    background-image:
    linear-gradient(to right, #5856d6, #ff2d55, #4cd964, #5ac8fa, #007aff, #7DC8E8);
  }
}

/* HOMEPAGE PROGRESS BAR STYLING */

/* bottom images styling */
.homepage-image{
  display:flex;
  flex-direction: column;
  position: relative;
  min-height:30vh;

  text-align: left;


  align-items:left;
  background-size:cover;
  background-position: 50%;
  /* background: linear-gradient(transparent -30%,#181818); */
}

.homepage-image::before{
  content: "";
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background: linear-gradient(to right,transparent -40%,#181818);
}

.homepage-album-text{

  font-size:3rem;

  /* line-height:400px; */
  letter-spacing: -.005em;
  color:#fff;
  position:relative;
  text-transform:none;
}


/* HOMEPAGE */
.btn-homepage{
  position:relative;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-normal);
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: .16em;
  -webkit-transition: none 33ms cubic-bezier(.3,0,.7,1);
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  -webkit-transition-property: all;
  transition-property: all;
  color: #fff;
  margin-top: 16px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 0;
  border-radius: 30px;
  padding: 5px;
  min-width: 130px;
  white-space: normal;
  will-change: transform;
  line-height: 1.6;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition:color 0.25s ease;
  cursor: pointer;
}






.content{
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.header-image{
  display:flex;
  flex-direction: column;
  position: relative;
  min-height:40vh;


  width:90%;
  margin:auto;
  align-items:center;
  background-size:cover;
  background-position: 50%;
  /* background: linear-gradient(transparent -30%,#181818); */
}

.header-image::before{
  content: "";
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background: linear-gradient(transparent -30%,#181818);
}

/* HEADER DESCRIPTION(GENRES) */
.header-description{
  font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #fff;
    opacity: .6;

    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    margin-right: 1em;

}

.large{

  font-size:5rem;

  line-height:400px;
  letter-spacing: -.005em;
  color:#fff;
  position:relative;
  text-transform:none;
}
/* button styling */
.btn{

position:relative;
font-size: 11px;
line-height: 16px;
letter-spacing: .015em;
font-weight: var(--glue-font-weight-normal);
color: #b3b3b3;
text-transform: uppercase;
letter-spacing: .16em;
-webkit-transition: none 33ms cubic-bezier(.3,0,.7,1);
transition: none 33ms cubic-bezier(.3,0,.7,1);
-webkit-transition-property: all;
transition-property: all;
color: #fff;
margin-top: 16px;
display: inline-block;
margin-bottom: 0;
text-align: center;
-ms-touch-action: manipulation;
touch-action: manipulation;
background-image: none;
border: 0;
border-radius: 40px;
padding: 13px;
min-width: 130px;
white-space: normal;
will-change: transform;
line-height: 1.6;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
transition:color 0.25s ease;
cursor: pointer;
}



/* BUTTON HOVER EFFECTS */
.btn:after,.btn-homepage:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

}

.btn-sc:after{
  background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
}

.btn-sp:after{
  background: linear-gradient(45deg, #1db954 50%, transparent 50%);
}

.btn-it:after{
  background: linear-gradient(45deg, rgb(29,199,252) 1%,rgb(104,110,252) 40%,rgb(233,80,155) 50%,rgb(218,77,184) 10%,crimson 20%, transparent 60%);
}

.btn,
.btn-homepage,
.btn:after,.btn-homepage:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
}

.btn:hover,
.btn:hover:after,
.btn-homepage:hover,
.btn-homepage:hover:after {
  background-position: 0;
  font-size: 1.1em;

  color: orangeRed; /*For IE*/
}
/* BUTTON HOVER EFFECTS */


.button-container{
  display:flex;
  align-items: center;
}

/* BIO SECITON  */

.bio-container{
    width:90%;

      margin-top: 4em;
      margin-left:6em;
}

.bio{
  padding:0.8em;
  background-color: rgba(0,0,0,1);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  min-height:15.625em;
  max-height:31.250em;
  overflow:auto;
}

.bio::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.bio::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.bio::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.9);
}



.progress-bar{
  position:relative;
  height:2px;
  width:250px;

  background-color:black;


}

.filler{
  background: black;

  height:7px;

  transition: width 1s ease-in;
}
/* --------------------------------------------- */

.fade-in {
    opacity: 0;
}
.fade-in.visible {
    transition: opacity 0.6s ease-in;
    opacity: 1;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
       -o-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}

.imghvr-blur figcaption {
    opacity: 0;
}

.imghvr-blur:hover > img {
    filter: blur(4px);
    transform: scale(1.2);
    opacity: 1;
}

.imghvr-blur:hover figcaption {
    opacity: 1;
    transition-delay: 0.21s;
}

[class^='imghvr-'], [class*=' imghvr-'] {
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color: crimson;
    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
}

[class^='imghvr-'] > img, [class*=' imghvr-'] > img {
    vertical-align: top;
    max-width: 100%;
}

[class^='imghvr-'] figcaption, [class*=' imghvr-'] figcaption {

    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
}

[class^='imghvr-'] figcaption h1, [class^='imghvr-'] figcaption h2, [class^='imghvr-'] figcaption h3, [class^='imghvr-'] figcaption h4, [class^='imghvr-'] figcaption h5, [class^='imghvr-'] figcaption h6, [class*=' imghvr-'] figcaption h1, [class*=' imghvr-'] figcaption h2, [class*=' imghvr-'] figcaption h3, [class*=' imghvr-'] figcaption h4, [class*=' imghvr-'] figcaption h5, [class*=' imghvr-'] figcaption h6 {
    color: #ffffff;
}

[class^='imghvr-'] a, [class*=' imghvr-'] a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

[class^='imghvr-'], [class*=' imghvr-'], [class^='imghvr-']:before,
[class^='imghvr-']:after, [class*=' imghvr-']:before, [class*=' imghvr-']:after,
[class^='imghvr-'] *, [class*=' imghvr-'] *, [class^='imghvr-'] *:before,
[class^='imghvr-'] *:after, [class*=' imghvr-'] *:before, [class*=' imghvr-'] *:after {
    box-sizing: border-box;
    transition: all .35s ease;
}




.box{
  position:absolute;
  top:50%;
  left:50%;
  transform : translate(-50% ,-50%);
}

.btn-small:link,
.btn-small:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-small-white{
  background:#fff;
  color:#000;
}

.btn-small:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

.btn-small:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  transform:translateY(-1px);
}

.btn-small-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn-small::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-small-white::after {
    background: #fff;
}

.btn-small-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}



.itunes-icon{
  opacity:0.3;
}


.user-img{
   border-radius: 50%;
}

.background-user-img{
  height: 150vh;
  background-size: 100px;
  background-position-x: center; /* Add this line */
  background-position-y: center; /* Add this line */
      background-repeat: no-repeat; /* Add this line */
}


/*  */

.searchBar{
  font-size:1.5rem;
  display:block;
  width:100%;
  padding-top: 0.500em;
  padding-bottom:0.500em;
  padding-left:1em;
}

.search__input{
  width: 60%;
  padding: 12px 24px;
  margin:auto;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 1.2rem;
  line-height: 78px;

  color: #575756;
  background-color: white;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 0.2px solid crimson;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder{
  color: color(#575756 a(1));

  text-transform: uppercase;
  letter-spacing: 1.5px;

}

.search__input:hover, .search__input:focus{

      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #f50057;
      border-radius: 2px;
      background-position: 100% center;

}



.nav-link{
  color:#FFF;
  transition: all 0.3s ease-in;
  text-decoration:none;
}

/* navbar */
.nav-link:hover{
  -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 10px white;
    cursor:pointer;
}


.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4:hover button.icon:hover{
  background: white;
}


/* HOMEPAGE */

.body-text{
  color:white;
  text-align: left;
  font-size:5.5rem;
}



.homepage-span{
  color:black;
}

.nav-link{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.color-icn{
  width:40px;
  height:40px;
  max-width:40px;
  max-height:40px;
  margin-right:1em;
  margin-bottom:1em;
  border-radius: 50%;
  cursor:pointer;
}


.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: var(--background-gradient) transparent var(--background-gradient) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.collage, .full-width {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 5px solid rgb(0, 188, 212);
  width: 100%;
  transform: skewY(-5deg);

}
.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 7em 0.625em;
}

.album-hov{
  font-size:2rem;
  margin-bottom:'auto';
  color:white

}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  /* HOMEPAGE */



  .homepage-container{
    margin-left:0;
  }


  .body-text{
    font-size:3rem!important;
    color:white!important;
    text-align: center;
  }

  .homepage-span{
    color:white;
  }

  .btn-homepage{
    font-size:0.5rem;
    letter-spacing: none;
    line-height: 1.3rem;
    white-space: nowrap;
    white-space: wrap;
    margin-left: 1em;
  }

  .button-container{
    width:100%;
  }

  .button-container img{
    width:100px;
  }
  /* HOMEPAGE */

  /*DASHBOARD*/
  .search__input{
    width:80%;
  }

  /* DASHBOARD */

  .dashboard-alb-intro{
    .margin-left: 0;
  }
  /* NAVBAR */
  .MuiToolbar-root{
    display:block!important;
  }

  .MuiButton-text{
    padding:0!important;
  }

  .nav-link{

    margin-bottom:0;
  }

  .box{
    position:static;
    transform:none;
    margin-left: 1.2em;
    margin-bottom: 0.6em;
  }

  .search-bar-nav{
    text-align: center;
  }
  /* NAVBAR */


  /* artist page */
  /* header */
  .header-image{
    display:flex;
    flex-direction: column;
    position: relative;
    max-height:250vh;
    width:100%;
  }

  .large{
    font-size: 3rem;
    line-height: 100px;
  }

  .btn{
    padding:2px;
    font-size:0.5rem;
  }

  .btn-sc img,.btn-sp img,.btn-it img{
    width: 50%;
  }
  /* header */


  /* related */
  .related-img{
    width: 150px;
    height:150px;
  }


  .related-img-hover{
    height:70px;
    width:70px;
  }

  .related-img-hover-sc{
    height:50px;
    width:50px;
  }

  .itunes-icon-hover{
    height:40px;
    width:40px;
  }
  /* related */

  /* about */

  .bio{
    width:100%;
  }

  .bio h1{
    font-size: 1rem!important;
    width: 100%;
  }

  .bio-container{
    margin-top:0;
    margin-left:0;
    width:100%;
    text-align: left;
  }


  .map{
    width: 100%;

  }

  .home-img{
    width:150px;
  }




  /* about */



  /* overview */
  .album-hov{
    display: none;

  }

  .album-hov-ic1{
    width: 40px;
    height: 40px;
  }

  .album-hov-ic2{
    display:none;
  }

  .tracklist-btn{
    padding: 0;
    font-size: 0.8rem;

  }
  /* artist-page */

}


@media only screen and (min-width: 601px) and (max-width: 1200px)  {
  .homepage-span{
    color:white;
  }
  .home-img{
    width: 200px;
    height:200px;
  }

  .map-container{
    margin-left: 10em;

  }
}
